<html>
<script src="/vendor/bower-webfontloader/webfont.js"></script>
<script src="/vendor/snap.svg/dist/snap.svg-min.js"></script>
<script src="/vendor/underscore/underscore-min.js"></script>
<script src="/vendor/js-sequence-diagrams/dist/sequence-diagram-min.js"></script>
<link href="/vendor/js-sequence-diagrams/dist/sequence-diagram-min.css" rel="stylesheet" />
<div id="diagram"></div>
<script>
  var query = decodeURI("{{ query }}").replace(";","\n");
  var diagram = Diagram.parse(query);
  var options = {theme: 'hand'};
  diagram.drawSVG('diagram', options);
</script>
</html>
